<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="icon" href="/wave.ico" type="image/x-icon">

	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 20px;
		}

		form {
			max-width: 400px;
			margin: auto;
		}

		label {
			display: block;
			margin: 10px 0 5px;
		}

		input[type="text"],
		input[type="number"] {
			width: 100%;
			padding: 8px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
		}

		button {
			padding: 10px 15px;
			background-color: #28a745;
			color: white;
			border: none;
			cursor: pointer;
		}

		button:hover {
			background-color: #218838;
		}
	</style>
</head>

<body>

	<div th:replace="~{partials/header :: header}"></div>


	<span th:text="${session.userDTO.globalName}"></span>(<span th:text="${session.userDTO.userName}"></span>)


	<h1>닉네임 추가</h1>
	<form th:action="@{/addnickname}" method="post" th:object="${userGameNicknameDTO}">
		<label for="gameName">게임 선택하기</label>

		<select id="gameName" th:field="*{gameName}">
			<option value="" disabled selected>게임을 선택하세요</option>
			<option th:each="game : ${gameNames}" th:value="${game}" th:text="${game}"></option>
		</select>

		<label for="nickname">닉네임:</label>
		<input type="text" id="nickname" th:field="*{nickname}">

		<!-- 숨겨진 입력 필드 추가 -->
		<input type="hidden" th:field="*{userDiscordId}" />
		
		<button type="submit">추가하기</button>
	</form>

	
	<div th:replace="~{partials/footer :: footer}"></div>


</body>

</html>