<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="icon" href="/wave.ico" type="image/x-icon">
</head>

<body>
	<div th:replace="~{partials/header :: header}"></div>

	<h1>Game Nicknames</h1>

	<form th:action="@{/nickname/delete}" method="post">
		<table>
			<thead>
				<tr>
					<th>선택</th>
					<th>게임 이름</th>
					<th>닉네임</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="nickname : ${nicknames}">
					<td>
						<input type="checkbox" name="nicknameIds" th:value="${nickname.id}" /> <!-- 체크박스 -->
					</td>
					<td th:text="${nickname.gameName}"></td>
					<td th:text="${nickname.nickname}"></td>
				</tr>
			</tbody>
		</table>
		<button type="submit">선택 삭제</button>
	</form>

	<div th:replace="~{partials/footer :: footer}"></div>
</body>

</html>