<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="icon" href="/wave.ico" type="image/x-icon">
</head>

<body>
	<div th:replace="~{partials/header :: header}"></div>

	index.html 파일입니다.
	<div>
		<a th:href="@{/test}">테스트 페이지로 가기</a>
	</div>
	
	<br>
	
	<div>
		<a th:href="@{/nicknamelist}">닉네임 조회하기</a>
	</div>
	
	<br>
	
	<form th:action="@{/deleteUser}" method="post">
	    <button type="submit">계정 삭제</button>
	</form>
	
	
	<div th:replace="~{partials/footer :: footer}"></div>
</body>

</html>